
.background {
  margin-top: 64px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.content {
  max-width: 1440px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  color: white;
}

.description {
  font-size: 24px;
  color: white;
}

.imagesWrapper {
  margin: 64px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagesContainer {
  display: grid;
  justify-content: space-evenly;
  gap: 32px;
  grid-template-columns: 1fr;

  @media (min-width: 860px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}