
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  max-width: 1440px;
  border: 1px solid greenyellow;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  color: white;
}

.description {
  font-size: 24px;
  color: white;
}