.background {
  margin-top: 64px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  max-width: 1440px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 32px;
  color: white;
  text-align: center;
}


.progressContainer {
  background-color: #e0e0df;
  border-radius: 12px;
  max-width: 1400px;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.progressBar {
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefe;
  font-weight: bold;
  background: linear-gradient(to right, #200050,#ff0000);
}

.totalRaisedContainer {
  margin: 32px 0;
  max-width: 1000px;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.totalRaised {
  margin: 8px 0;
  font-size: 36px;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}