
.background {
  margin-top: 64px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.content {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;

  @media (min-width: 860px) {
    grid-template-columns: 4fr 1.5fr;  
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  color: white;
}

.description {
  font-size: 24px;
  color: white;
}

.buttonContainer {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 860px) {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.buttonContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 400px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}