.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}