.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;

  :disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
  }
}

.primary {
  background-color: #b71a1a;
  color: white;
}

.secondary {
  background-color: #cf743c;
  color: white;
}

.button-icon {
  margin-right: 8px;
}

.button-text {
  text-align: center;
  flex-grow: 1;
}