.background {
  margin-top: 64px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  max-width: 1440px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  color: white;
}


.progressContainer {
  background-color: #e0e0df;
  border-radius: 12px;
  max-width: 1000px;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.progressBar {
  height: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

.totalRaised {
  margin: 32px 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}